[Desktop Entry]
Encoding=UTF-8
Name=bitcoingenx
Comment=bitcoingenx P2P Cryptocurrency
Comment[fr]=bitcoingenx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=bitcoingenx, eşten eşe kriptografik sanal para birimi
Exec=bitcoingenx-qt %u
Terminal=false
Type=Application
Icon=bitcoingenx128
MimeType=x-scheme-handler/bitcoingenx;
Categories=Office;Finance;
